## APPLICATION
NODE_ENV=development
PORT=3000

## HTTP SECURITY
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

## API DOCUMENTATION
SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs

## DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change-me
DB_NAME=aislafriopro
DB_SSL=false
DB_SYNCHRONIZE=false
DB_LOGGING=false

## JWT
JWT_SECRET=change-this-secret-with-at-least-32-characters
JWT_EXPIRES_IN=15m
